// VARIABLES
    // Colour Variables

//  MIXINS
    // Typography
    @mixin martel ($size: false, $color: false, $weight: false, $lh: false) {
        font-family: 'Martel', Helvetica, Arial, sans-serif;
        @if $size { font-size: $size; }
        @if $color { color: $color; }
        @if $weight { font-weight: $weight; }
        @if $lh { line-height: $lh; }
    }

    @mixin mont ($size: false, $color: false, $weight: false, $lh: false, $trans: false) {
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        @if $size { font-size: $size; }
        @if $color { color: $color; }
        @if $weight { font-weight: $weight; }
        @if $lh { line-height: $lh; }
        @if $trans { text-transform: $trans; }
    }

    // Interactivity
    @mixin link-trans ($link, $visited, $hover) {
        & {
            color: $link;
            transition: 0.5s;
            &:visited {
                color: scale-color($link, $lightness: -50%);
            }
            &:active,
            &:hover,
            &:focus {
                color: $hover;
            }
        }
    }

// STYLING    

// Typography
h1 {
    font-weight: 700;
}
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 600;
}
h4 {
    @include mont($weight: 500, $trans: uppercase);
}
h5 {
    @include mont($color: $darker-gray, $weight: 500, $trans: uppercase);
}
h6 {
    @include mont($color: $dark-gray, $weight: 500, $trans: uppercase);
}

p {
    font-size: 0.9rem;
}
p + ul li {
    font-size: 0.8rem;
    margin-left: 1.2rem;
}
b {
    font-weight: 600;
}
address {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
}
figcaption {
    font-size: 0.8rem;
    color: $dark-gray;
    text-align: center;
    padding-top: 0.5rem;
}

// Buttons & Interactivity
.button {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $black;
    border: 1px solid $light-gray;
    border-radius: 2px;
}
.readmore {
    @include mont($size:0.7rem, $weight: 500, $trans: uppercase);
}

.PDF-reader {
    width: 100%;
    height: 550px;
    background-color: $darker-gray;
    padding: 1.2rem;
    color: $white;
    @include breakpoint(medium) {
        height: 800px;
    }
    @include breakpoint(large) {
        height: 900px;
    }
}

// Containers & Modules
main {
    padding-right: 2rem;
    padding-left: 2rem;
}

// Footer
footer {
    background-color: $darkest-gray;
    a {
        padding-left: none;
        @include mont($size: 0.9rem, $color: $light-gray, $weight: 300);
        @include link-trans($light-gray, $light-gray, $white);
    }
}
.footer {
    &-cont {
        width: 100%;
        margin: 0 auto;
        padding: 1.2rem;
    }
    &-col {
        h1 {
            color: $white;
        }
        p {
            color: $light-gray;
        }
        ul li a {
            @include link-trans($light-gray, $light-gray, $white);
            padding-left: 0;
        }
    }
    &-links h1 {
        font-size: 1rem;
    }
    &-copyright {
        margin-top: 1.2rem;
        padding-top: 1.2rem;
        border-top: 1px solid $darker-gray;
        @include mont($size: 0.8rem, $color: $light-gray, $weight: 300);
        a {
            @include mont($size: 0.8rem, $color: $light-gray, $weight: 300);
            @include link-trans($light-gray, $light-gray, $white);
            + a {
                padding-left: 2rem;
            } 
        }
    }
}
@include breakpoint(medium down){
    .footer {
        &-col {
            margin-top: 2rem;
        }
        &-statement {
            padding-bottom: 1.2rem;
            border-bottom: 1px solid $darker-gray;
        }
    }   
}

// Navigation
.no-js {
    @include breakpoint(small only) {
      .top-bar {
        display: none;
      }
    }
}
[data-sticky] {
width:100%;
}
.sticky-container {
z-index: 5;
}

.main-nav {
    &-titlebar {
        padding: 1rem 2.4rem 0.9rem 2.4rem;
        background-color: $white;
        border-bottom: 1px solid $light-gray;
        a {
            @include link-trans($darkest-gray, $primary-color, $primary-color);
        }
        &-logo-img {
            height: 3rem;
            margin-right: 1.2rem;
        }
    }
    &-topbar {
        background-color: $white;
        border-bottom: 1px solid $light-gray;
        ul {
            @include breakpoint(medium down) {
                width: 100%;
            }          
            background-color: $white;
            li {
                @include breakpoint(medium down) {
                    padding-right: 1rem;
                    padding-left: 1rem;
                    width: 100%;
                    border-top: 1px solid $light-gray;
                    &:first-of-type {
                        border-top: none;
                    }
                }
                a {
                    @include link-trans($darkest-gray, $primary-color, $primary-color);
                    @include mont($size: 0.7rem, $color: $darkest-gray, $weight: 500, $trans: uppercase); 
                }
            }
        }
        &-logo {
            a {
                @include link-trans($darkest-gray, $primary-color, $primary-color);
                font-weight: 700;
            }
            &-img {
                height: 3rem;
                margin-right: 1.2rem;
            }
        }
        &-search {
            @include breakpoint(small only) {
                width: 100%;
                padding-top: 1rem;
            }
            margin-left: 1rem;
            &-bar {
                width: 20rem;
                height: 2rem;
                border: 2px solid $medium-gray;
                border-right: none;
                border-radius: 20px 0 0 20px;
                @include mont($size: 0.8rem, $color: $darkest-gray, $weight: 200);
                &::placeholder {
                    padding-left: 0.5rem;
                    @include mont($size: 0.7rem, $color: $medium-gray, $weight: 500, $trans: uppercase);
                }
            }
            &-btn {
                display: inline-block;
                width: 2.5rem;
                height: 2rem;
                margin-left: -1.5rem;
                background-color: $light-gray;
                border: 2px solid $medium-gray;
                border-radius: 0px 20px 20px 0px;
            }
        }
    }
}


.mod {
    padding: 2rem 0;
    + .mod {
        border-top: 1px solid $medium-gray;
    }
    &-section {
        &-about {
            padding-bottom: 1rem;
            border-bottom: 1px solid $medium-gray;
            p {
                font-size: 1rem;
            }
        }
        &-event {
            &-table {
                th, td {
                    font-size: 0.9rem;
                    vertical-align: top;
                }
                th {
                    text-align: right;
                }    
            }
        }
        &-readings-index {
            padding-bottom: 1.2rem;
            margin-bottom: 1.2rem;
            border-bottom: 1px solid $light-gray;
        }
        &-readmore-cell {
            + .mod-section-readmore-cell {
                padding-top: 1.2rem;
                border-top: 1px solid $light-gray;
            }
            &-txt {
                h2 {
                    font-size: 0.9rem;
                    a {
                        @include link-trans($darkest-gray, $primary-color, $primary-color);
                    }
                }
                p {
                    margin-top: -0.5rem;
                    font-size: 0.9rem;
                    color: $dark-gray;
                }    
                padding-left: 1.2rem;
            }
        }
        &-membership-cell {
            p {
                @include mont($size: 0.9rem, $color: $darker-gray, $weight: 300);
                span {
                    color: $darkest-gray;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
            + .mod-section-membership-cell {
                border-top: 1px solid $light-gray;
                padding-top: 1rem;
            }
            &:nth-of-type(2) {
                border-top: none;
                padding-top: 0;
            }
            &:nth-of-type(odd) {
                border-right: 1px solid $light-gray;
                padding-right: 1rem;
            }
            &:nth-of-type(even) {
                padding-left: 1rem;
            }
        }
        &-articles-cell {
            h2 a {
                @include link-trans($darkest-gray, $primary-color, $primary-color);
            }
            + .mod-section-articles-cell {
                border-top: 1px solid $light-gray;
                padding-top: 1.2rem;
            }
        }

        &-textcell-cell {
            h2 a {
                @include link-trans($darkest-gray, $primary-color, $primary-color);
            }
            + .mod-section-textcell-cell {
                border-top: 1px solid $light-gray;
                padding-top: 1.2rem;
            }
        }

        &-sb-accordion {
            ul li {
                border-top: 1px solid $light-gray;
                @include mont($color: $darkest-gray, $weight: 300);
                ul li {
                    border-top: 0;
                    a {
                        color: $darker-gray;
                    }
                }
                a {
                    padding-left: 0;
                    @include link-trans($darkest-gray, $primary-color, $primary-color);
                }
            }
            ul li:first-of-type {
                border-top: none;
            }
        }

        &-sb-imgtxt-cell {
            h2 a {
                @include link-trans($darkest-gray, $primary-color, $primary-color);
            }
            + .mod-section-sb-imgtxt-cell {
                border-top: 1px solid $light-gray;
                padding-top: 1.2rem;
            }
        }

        &-sb-textcell-cell {
            h2 a {
                @include link-trans($darkest-gray, $primary-color, $primary-color);
            }
            + .mod-section-sb-textcell-cell {
                border-top: 1px solid $light-gray;
                padding-top: 1.2rem;
            }
        }

        &-projects-cell {
            + .mod-section-projects-cell {
                border-top: 1px solid $light-gray;
                padding-top: 1.2rem;
            }
        }

        //about page styling
        &-about-about {
            border-bottom: 1px solid $medium-gray;
        }
        &-committee-about {
            margin-top: 1.7rem;
            border-top: 1px solid $medium-gray;
            h3 {
                @include mont($size: 0.8rem, $color: $dark-gray, $weight: 300, $trans: uppercase);
                margin-bottom: 0.1rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
        &-contact-map {
            position: relative;
            padding-bottom: 75%;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }
        }
        
        //article landing page styling
        &-articlelist-cell {
            + .mod-section-articlelist-cell {
                border-top: 1px solid $light-gray;
                padding-top: 1.2rem;
            }
            h2 a {
                @include link-trans($darkest-gray, $primary-color, $primary-color);
            }
        }

        //article+newsletter template styling
        &-text-info {
            border-bottom: 1px solid $light-gray;
            padding-bottom: 1.2rem;
            .p-info {
                margin-top: -0.5rem;
                color: $dark-gray;
            }
            .p-desc {
                font-weight: 600;
                &:first-letter {
                    float: left;
                    color: $darkest-gray;
                    font-size: 2.9rem;
                    font-weight: 300;
                    line-height: 2.5rem;
                    padding-top: 0.3rem;
                    padding-right: 0.2rem;
                }
            }
        }
        &-text-content {
            padding-top: 1.2rem;
            text-align: justify;
            text-justify: auto;
            &-section {
                h2 {
                    font-size: 1.4rem;
                    margin-bottom: -0.4rem;
                }
                p:first-of-type {
                    padding-top: 1.2rem;
                }
                p:first-of-type:first-letter{
                    float: left;
                    color: $darkest-gray;
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 1.6rem;
                    margin-top: -0.2rem;
                }
                + .mod-section-text-content-section {
                    padding-top: 1.2rem;
                }
            }
        }

        //gems of time page styling
        &-gems {
            &-accordion-title {
                @include mont($trans: uppercase);
            }
            &-accordion-content p {
                font-size: 0.9rem;
            }
        }

        //vale page styling
        &-vale {
            &-accordion-title {
                @include mont($trans: uppercase);
            }
            &-accordion-content p {
                font-size: 0.9rem;
            }
        }

        //events page styling
        &-event {
            &-accordion-title {
                @include mont($trans: uppercase);
            }
            &-accordion-content p {
                font-size: 0.9rem;
            }
        }

        //sitemap
        &-sitemap {
            a {
                padding-left: 0;
                font-size: 0.9rem;
                @include link-trans($darker-gray, $primary-color, $primary-color);
            }
        }
    }
}

// Images
.img-styling {
    margin-bottom: 0.8rem;
}

// Forms
.contactform {
    input,
    textarea {
        font-size: 0.9rem;
    }
    .button {
        font-size: 0.8rem;
    }
}



@include breakpoint(medium) {    
    // Navigation
    .main-nav-topbar {
        ul {
            @include breakpoint(medium only) {
                width: 100%;
            }          
            li {
                @include breakpoint(medium only) {
                    padding-right: 1rem;
                    padding-left: 1rem;
                    width: 100%;
                    border-top: 1px solid $light-gray;
                }
            }
        }
        &-search {
            @include breakpoint(medium only) {
                width: 100%;
                padding-top: 1rem;
            }
        }
    }


    // Containers & Modules
    main {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .column-left {
        margin-top: 2rem;
        padding-right: 2rem;
        border-right: 1px solid $medium-gray;
    }
    .column-right {
        margin-top: 2rem;
        padding-left: 2rem;
    }

    footer {
        padding: 1rem;
    }

    .mod-section {
        &-fw {
            &-txt {
                padding-right: 2rem;
            }
            &-img {
                padding-left: 2rem;
                border-left: 1px solid $light-gray;
            }
        }
        &-articles-cell {
            &:nth-of-type(2) {
                border-top: none;
                padding-top: 0;
            }
            &:nth-of-type(odd) {
                padding-right: 1rem;
                border-right: 1px solid $light-gray;
            }
            &:nth-of-type(even) {
                padding-left: 1rem;
            }
        }
        &-membership-cell {
            &:nth-of-type(2) {
                border-top: 1px solid $light-gray;
                padding-top: 1.2rem;
            }
            &:nth-of-type(odd) {
                border-right: none;
                padding-right: 0;
            }
            &:nth-of-type(even) {
                padding-left: 0;
            }
        }
        &-reading-cell {
            &:nth-of-type(3) {
                border-top: none;
                padding-top: 0;
            }
            &:nth-of-type(even) {
                padding-right: 1rem;
                border-right: 1px solid $light-gray;
            }
            &:nth-of-type(odd) {
                padding-left: 1rem;
            }
        }

        &-textcell-cell {
            &:nth-of-type(2) {
                border-top: none;
                padding-top: 0;
            }
            &:nth-of-type(odd) {
                padding-right: 1rem;
                border-right: 1px solid $light-gray;
            }
            &:nth-of-type(even) {
                padding-left: 1rem;
            }
        }

        //Sitemap
        &-sitemap {
            &:nth-of-type(2) {
                border-top: none;
            }
        }
    }
}



@include breakpoint(large) {
    // Navigation
    .no-js {
        .title-bar {
        display: none;
        }
    }
    .main-nav-topbar {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    // Containers & Modules
    main {
        max-width: 70rem;
        margin: auto;
        padding: 3rem;
    }
    .footer {
        &-cont {
            max-width: 70rem;
            padding: 3rem;
        }  
        &-col {
            padding-right: 1.2rem;
        }  
    }

    //Sitemap
    .mod-section-sitemap {
        border-top: none !important;
        + .mod-section-sitemap {
            padding-left: 1.2rem;
            border-left: 1px solid $light-gray;
        }
    }

  }